<launch>

	<arg name="robot_prefix" default="pr2/"/>

	<arg name="topic1" value="wide_stereo/right/image_raw"/>
	<node name="relay_wide_stereo" pkg="topic_tools" type="relay"  args="$(arg topic1) $(arg robot_prefix)$(arg topic1)">
	  <param name="lazy" value="true"/>
	</node>

	<arg name="topic2" value="joint_states"/>
	<node name="relay_joint_states" pkg="topic_tools" type="relay"  args="$(arg topic2) $(arg robot_prefix)$(arg topic2)">
	  <param name="lazy" value="true"/>
	</node>

	<arg name="topic3" value="base_scan"/>
	<node name="relay_base_scan" pkg="topic_tools" type="relay"  args="$(arg topic3) $(arg robot_prefix)$(arg topic3)">
	  <param name="lazy" value="true"/>
	</node>

	<arg name="topic4" value="tilt_scan"/>
	<node name="relay_tilt_scan" pkg="topic_tools" type="relay"  args="$(arg topic4) $(arg robot_prefix)$(arg topic4)">
	  <param name="lazy" value="true"/>
	</node>

  <!-- Subscribers -->

	<arg name="topic5" value="torso_controller/position_joint_action/goal"/>
  <node name="relay_torso_goal" pkg="topic_tools" type="relay"  args="$(arg robot_prefix)$(arg topic5) $(arg topic5)" output="screen">
	  <param name="lazy" value="true"/>
	</node>


</launch>
