<launch>

	<arg name="robot_prefix" default="pr2/"/>

	<arg name="topic" value="wide_stereo/right/image_raw"/>
	<node pkg="topic_tools" type="relay" name="relay_wide_stereo" args="$(arg topic) $(arg robot_prefix)$(arg topic)">
	  <param name="lazy" value="true"/>
	</node>

	<arg name="topic" value="joint_states"/>
	<node pkg="topic_tools" type="relay" name="relay_$(arg topic)" args="$(arg topic) $(arg robot_prefix)$(arg topic)">
	  <param name="lazy" value="true"/>
	</node>

	<arg name="topic" value="base_scan"/>
	<node pkg="topic_tools" type="relay" name="relay_$(arg topic)" args="$(arg topic) $(arg robot_prefix)$(arg topic)">
	  <param name="lazy" value="true"/>
	</node>

	<arg name="topic" value="tilt_scan"/>
	<node pkg="topic_tools" type="relay" name="relay_$(arg topic)" args="$(arg topic) $(arg robot_prefix)$(arg topic)">
	  <param name="lazy" value="true"/>
	</node>

</launch>